# Server configuration
PORT=3000
NODE_ENV=development

# Database configuration
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=hiplanet_db
DB_DIALECT=mysql

# JWT configuration
JWT_SECRET=hiplanet_jwt_secret_key_2026_change_me
JWT_EXPIRES_IN=24h

# Game Name
GAME_NAME=Hi Planet
DOWNLOAD_URL=https://hiplanetgame.com/builds/HiPlanet%20-%20Alpha
LAUNCH_DATE=10 NOV 2026

# SMTP Configuration
SMTP_HOST=smtp.office365.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=hello@ecosoftgame.com
SMTP_PASS=ecosoft2024
FROM_NAME=Sean Beck
FROM_EMAIL=hello@ecosoftgame.com
REPLY_TO=hello@ecosoftgame.com
SITE_URL=https://hiplanetgame.com

